extends layout

block scripts
	script(src="/static/js/codemirror.js")
	script(src="/static/js/codemirror-javascript.js")
	script(src="/static/js/jquery.scrollto.js")
	script(src="/static/js/index.js")
	script
		var sampleCode = $('#code').text()
		if (localStorage && 'code' in localStorage) {
			sampleCode = localStorage['code']
		}

		var myCodeMirror = CodeMirror(function(element) {
			textArea = $('#code')[0]
			textArea.parentNode.replaceChild(element, textArea);
		}, {"value": sampleCode, "lineNumbers": true});

block styles
	link(rel="stylesheet", type="text/css", href="/static/css/codemirror.css")

block body
	script#gameTemplate(type="text/x-jsrender")
		.accordion-group
			.accordion-heading
				a.accordion-toggle(data-toggle="collapse",data-parent="#games .accordion",href="#game{{:game_no}}")
					span Game {{:game_no}}
					span.result
			div(id="game{{:game_no}}", class="accordion-body collapse")
				.accordion-inner
					.settings
						h3 Settings
						form.form-horizontal(method="POST",action="#")
							.players
							ul.unstyled.form-actions
								li
									button.btn
										i.icon-play
										|  Start Game
	script#playerSettingTemplate(type="text/x-jsrender")
		.player
			fieldset
				legend Player {{:player_no}}
				.control-group
					label.control-label(for="player_{{:player_no}}_type") AI
					.controls
						select(id="player_{{:player_no}}_type", name="player_{{:player_no}}_type")
							option(value="mine") My AI
							| {{if player_no == 1}}
							option(value="sample") Sample AI
							| {{else}}
							option(value="sample", selected="selected") Sample AI
							| {{/if}}
	.container
		.row
			.span12
				.hero-unit
					h1 JS Competition
					p.
						This is a work in progress framework for running coding competitions. The initial version will support only Javascript but support for other languages is planned. This competition is based on on &quot;Startups of Shoreditch&quot;, the coding competition from Silicon Milkroundabout.

		.row
			.span8
				h2 1. Enter the competition
				#editor
					textarea#code
						!{sample_code}
					.controls
						button.btn.btn-primary.btn-large.play
							i.icon-play.icon-white
							|  Test Your Entry
			#instructions.span4
				h2 Instructions
				ol
					li.
						Modify the sample AI on the left to create an entry.
					li
						| Press 
						button.btn.btn-primary.btn-small.play
							i.icon-play.icon-white
							|  Test Your Entry
						|  to see how it performs.
					li.
						If you're happy with it, submit it to the live competition. Otherwise, keep iterating step 1 &amp; 2 until you're ready.
		.row#games
			.span12
				h2 2. Games
				.accordion
		.row#confirm
			.span12
				h2 3. Confirm your entry
				.alert.
					Don't worry. You can still come back and modify your entry after you've submitted it.
				form.well
					label Email Address
						input(type="email")
					label Entry name
						input(type="text")

					button.btn(type="submit") Submit Entry