!!! 5
html
head
	title #{title}

	link(rel="stylesheet", type="text/css", href="/static/css/bootstrap.min.css")
	block styles
body
	block body
	script(src="/static/js/bootstrap.min.js")
	block scripts