<!doctype html>
<html>
<head>
	<title>{{title}}</title>
	{% block styles %}
	<link rel="stylesheet" type="text/css" href="/static/css/codemirror.css">
	{% endblock %}
</head>
<body>
	{% block body %}
	{% endblock %}

	{% block scripts %}
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/knockout.js"></script>
	<script src="/static/js/codemirror.js"></script>
	<script src="/static/js/codemirror-javascript.js"></script>
	<script src="/js/viewmodel.js"></script>
	<script src="/static/js/main.js"></script>
	<script src="/static/js/game.js"></script>
	{% endblock scripts %}
</body>
</html>