<!doctype html>
<html>
<head>
	<title>{{config.base.title}} powered by CodeFeud</title>
	{% block styles %}
		<link rel="stylesheet" type="text/css" href="/style.css">
	{% endblock %}
</head>
<body>
	{% block templates %}
		{% include "game.html" %}
		
		{% include "game_main.html" %}
		{% include "game_extra.html" %}
	{% endblock %}
	
	{% block body %}
	{% endblock %}

	{% block scripts %}
	<script src="/js/lib/jquery.js"></script>
	<script src="/js/lib/underscore.js"></script>
	<script src="/js/lib/codemirror.js"></script>
	<script src="/js/lib/knockout.js"></script>

	<script src="/js/view-model.js"></script>
	<script src="/js/editor.js"></script>
	<script src="/js/ui.js"></script>
	<script src="/js/game.js"></script>

	{% include "components.html" %}

	<script>
		v.game.state.subscribe(function(newValue) {
			if (newValue == "playing") {
				baseGameRunner.start();
			}
		});
	</script>
	<script>ko.applyBindings(v);</script>

	<!--
	<script src="/js/viewmodel.js"></script>
	<script src="/js/gamerunner.js"></script>
	<script src="/js/gamerunners/{{config.control_type}}-gamerunner.js">
	</script>
	<script src="/js/main.js"></script>
	<script src="/js/game.js"></script>-->
	{% endblock scripts %}
</body>
</html>